__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.env
.python-version
env/quant-bot-c9c4b-firebase-adminsdk-c83hh-2474897efe.json
/ssh_cmd.md
/Lib
/Scripts
/pyenv.cfg
/run_server.bat
/CACHEDIR.TAG
/pyvenv.cfg
/var



